@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.trust-title {
  color: #f44b01;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.trust-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
}
.trust-image img {
  width: 25vw;
  height: auto;
}
.languageChange {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 8vw;
}
.languageChange .btn-primary {
  border-color: #f44b01;
  background-color: #f44b01;
}
.languageChange .btn {
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.languageChange .btn-primary:hover {
  border-color: #f44b01;
  background-color: #f44b01;
}
.languageChange .btn-primary:focus {
  box-shadow: none;
  background-color: #f44b01;
}
.trust-details p {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}
/* testimonial section */
.testimonial-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}
.testimonial-title {
  text-align: center;
  color: #f44b01;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}
.testimonial-image img {
  width: 30vh;
  height: auto;
}
/* testimonial card */
.back {
  width: auto;
  height: auto;
  background-color: #fafafa;
  border: 2.5px solid #f44b01;
}
.ReviewByUser {
  display: flex;
  flex-direction: row;
}
.ReviewByUser .user-image img {
  width: 50px;
  height: 50px;
}
.ReviewByUser h1 {
  margin-bottom: 3px !important;
}
.ReviewByUser .userName {
  font-family: var(--font);
  font-size: 1rem;
  font-weight: bold;
  color: #140e38;
}
.user .stars .fa-solid {
  color: rgb(255, 215, 0);
}
.back .user-review {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  width: 100%;
}
.back p {
  margin-bottom: 0px !important;
}
#carouselExampleControls-Desktop .carousel-inner {
  position: static !important;
}
#carouselExampleControls-Desktop {
  position: static !important;
}
#carouselExampleControls-Desktop .carousel-control-next,
#carouselExampleControls-Desktop .carousel-control-prev {
  opacity: 100% !important;
}
#carouselExampleControls-Desktop .carousel-control-prev {
  background-color: #f44b01 !important;
  width: 40px !important;
  height: 40px !important;
  left: 90% !important;
}
#carouselExampleControls-Desktop .carousel-control-next {
  background-color: #f44b01 !important;
  width: 40px !important;
  height: 40px !important;
  margin-right: 15px;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .trust-title {
    font-size: 1.5rem !important;
  }
  .trust-title-sm {
    font-size: 1.5rem !important;
    background-color: #f44b01;
  }
  .trust-image img {
    width: 30vw;
    height: auto;
  }
  .trust-details p {
    font-size: 1rem;
  }
  .ReviewByUser .userName {
    font-size: 0.8rem;
  }
  .ReviewByUser .user-image img {
    width: 18px;
    height: auto;
  }
  .back .user-review {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 786px) and (max-width: 992px) {
  .trust-title {
    font-size: 1.5rem !important;
  }
  .trust-title-sm {
    font-size: 1.5rem !important;
    color: #f44b01;
  }
  .languageChange {
    justify-content: space-around;
    flex-direction: column;
  }
  .languageChange .btn-primary {
    width: 30vw;
    height: auto;
  }
  .trust-details p {
    font-size: 1rem;
  }
  .trust-image img {
    width: 35vw;
    height: auto;
  }
  .testimonial-title {
    font-size: 2rem !important;
  }
  .carousel-inner {
    margin-top: 20px;
  }
  .back {
    width: auto;
    height: auto;
  }
  #carouselExampleControls-Mobile .carousel-control-prev {
    background-color: #f44b01 !important;
    width: 40px !important;
    height: 40px !important;
    left: 85% !important;
  }
  #carouselExampleControls-Mobile .carousel-control-next {
    background-color: #f44b01 !important;
    width: 40px !important;
    height: 40px !important;
    margin-right: 10px;
  }
  #carouselExampleControls-Mobile .carousel-control-next,
  #carouselExampleControls-Mobile .carousel-control-prev {
    top: -62px !important;
    opacity: 100% !important;
  }
  .carousel-inner .col-4:nth-child(3) {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 786px) {
  .trust-title {
    font-size: 1.5rem !important;
  }
  .trust-title-sm {
    font-size: 1.5rem !important;
    color: #f44b01;
  }
  .languageChange {
    justify-content: space-around;
    flex-direction: column;
  }
  .languageChange .btn-primary {
    width: 30vw;
    height: auto;
  }
  .trust-details p {
    font-size: 1rem;
  }
  .trust-image img {
    width: 30vw;
    height: auto;
  }
  .testimonial-title {
    font-size: 2rem !important;
  }
  .back {
    width: auto;
    height: auto;
  }
  #carouselExampleControls-Mobile .carousel-control-prev {
    background-color: #f44b01 !important;
    width: 40px !important;
    height: 40px !important;
    left: 80% !important;
  }
  #carouselExampleControls-Mobile .carousel-control-next {
    background-color: #f44b01 !important;
    width: 40px !important;
    height: 40px !important;
    margin-right: 10px;
  }
  .carousel-inner {
    margin-top: 20px;
  }
  .back .user-review {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    width: 100%;
  }
  .ReviewByUser .user-image img {
    width: 30px;
    height: 30px;
  }
  #carouselExampleControls-Mobile .carousel-inner .col-sm-6:nth-child(3) {
    display: none;
  }
  #carouselExampleControls-Mobile .carousel-control-next,
  #carouselExampleControls-Mobile .carousel-control-prev {
    top: -62px !important;
    opacity: 100% !important;
  }
}
@media screen and (max-width: 576px) {
  .trust-title {
    font-size: 1rem !important;
  }
  .trust-title-sm {
    font-size: 1rem !important;
    color: #f44b01;
  }
  .languageChange {
    justify-content: space-around;
    flex-direction: column;
  }
  .languageChange .btn-primary {
    width: 30vw;
    height: auto;
  }
  .trust-details p {
    font-size: 0.8rem;
  }
  .trust-image img {
    width: 40vw;
    height: auto;
  }
  .testimonial-title {
    font-size: 2rem !important;
  }
  #carouselExampleControls-Mobile .carousel-inner .col-12:nth-child(2) {
    display: none;
  }
  .back {
    width: auto;
    height: auto;
  }
  #carouselExampleControls-Mobile .carousel-inner {
    margin-top: 60px;
  }
  #carouselExampleControls-Mobile .carousel-control-prev {
    left: 40% !important;
    top: 5px !important;
  }
  #carouselExampleControls-Mobile .carousel-control-next {
    left: 60%;
    top: 5px !important;
  }
  #carouselExampleControls-Mobile .carousel-control-next,
  #carouselExampleControls-Mobile .carousel-control-prev {
    opacity: 100% !important;
  }
  #carouselExampleControls-Mobile .carousel-control-prev {
    background-color: #f44b01 !important;
    width: 40px !important;
    height: 40px !important;
    left: 40% !important;
  }
  #carouselExampleControls-Mobile .carousel-control-next {
    background-color: #f44b01 !important;
    width: 40px !important;
    height: 40px !important;
    margin-right: 40px;
  }
  #carouselExampleControls-Mobile .carousel-control-next,
  #carouselExampleControls-Mobile .carousel-control-prev {
    top: -52px !important;
  }
}
