* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.number-card {
  width: 30vw;
  height: auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.number-card .price {
  color: #fafafa;
  margin-bottom: 0rem !important;
  font-size: 2rem;
}
.number-card .fa-solid {
  color: yellow;
}
.number-card .number {
  text-align: center;
  margin-top: 7px;
  margin-bottom: 0rem !important;
  font-weight: bold;
}
.number-card .number span {
  color: #f44b01;
}
.number-card .Similar-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
.Similar-link .fa-solid {
  color: #000;
}
.number-card .other-details {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
  margin-top: 5px;
}
.other-details h2 {
  margin-bottom: 0rem !important;
  font-size: 1rem;
  letter-spacing: 2px;
}
.other-details h2:nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.other-details h2:nth-child(2)::before {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: #6d6d6d;
  transform: rotate(90deg);
}
.other-details h2:nth-child(2)::after {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: #6d6d6d;
  transform: rotate(90deg);
}
.number-card .btn-primary {
  background-color: #f44b01;
  border-color: #f44b01;
  color: #fafafa;
}
.number-card .btn {
  text-transform: uppercase;
  color: #fafafa;
}
.number-card .btn .fa-solid {
  color: #fafafa;
}
.detial-title {
  font-weight: bold;
}
.number-details h3 {
  margin-top: 20px;
}
.owl-carousel .number-card {
  width: 24vw;
}
.owl-theme .owl-dots {
  display: none;
}
.owl-theme .owl-nav {
  margin-top: 5px !important;
  color: #fafafa;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background-color: #f44b01 !important;
  width: 35px;
  height: 35px;
}
@media screen and (max-width: 992px) {
  .number-card {
    width: 50vw;
    height: auto;
  }
  .number-card .price {
    font-size: 1.4rem;
  }
  .number-card .number {
    font-size: 1.8rem;
  }
  .detial-title {
    font-size: 1.4rem;
  }
  .owl-carousel .number-card {
    width: 30vw !important;
  }
}
@media screen and (min-width: 786px) and(max-width:992px) {
  .number-card {
    width: 50vw;
    height: auto;
  }
  .number-card .price {
    font-size: 1.4rem;
  }
  .number-card .number {
    font-size: 1.8rem;
  }
  .detial-title {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 786px) {
  .number-card {
    width: 50vw;
    height: auto;
  }
  .number-card .price {
    font-size: 1.4rem;
  }
  .number-card .number {
    font-size: 1.8rem;
  }
  .detial-title {
    font-size: 1.4rem;
  }
  .owl-carousel .number-card {
    width: 40vw !important;
  }
}
@media screen and (max-width: 576px) {
  .number-card {
    width: auto;
    height: auto;
  }
  .number-card .price {
    font-size: 1.4rem;
  }
  .number-card .number {
    font-size: 1.8rem;
  }
  .detial-title {
    font-size: 1.4rem;
  }
  .owl-carousel .number-card {
    width: 90vw !important;
  }
}
