@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.step1box,
.step2box,
.step3box,
.step4box {
  width: 25vw;
  height: auto;
  border-radius: 10px;
}
.topLeft,
.topLeftMobile {
  width: 15vw;
  height: 10vh;
  border-radius: 1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 15px;
}
.topRight,
.topRightMobile {
  width: 15vw;
  height: auto;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  background-color: #f5f5f5;
}
.stepNumBox,
.stepNumBoxMobile {
  width: 80%;
  height: 100%;
  background-color: #bf68e6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.StepNumber,
.StepNumberMobile {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: #fafafa;
  margin-bottom: 0 !important;
}
.stepName,
.stepNameMobile {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 1rem;
  color: #fafafa;
  margin-bottom: 0 !important;
}
.step-icon .fa-solid,
.step-iconMobile .fa-solid {
  font-size: 3rem;
  color: #bf68e6;
}
.steppara,
.stepparaMobile {
  width: 25vw;
  height: auto;
  display: flex;
  background-color: #f5f5f5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.steppara .stepName,
.stepparaMobile .stepNameMobile {
  color: #002171;
  font-weight: bold;
}
.steppara p,
.stepparaMobile p {
  color: #002171;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0 !important;
}
.steppara .fa-solid,
.stepparaMobile .fa-solid {
  font-size: 20px;
  color: #bf68e6;
}
@media screen and (min-width: 786px) and (max-width: 992px) {
  .step1boxMobile,
  .step2boxMobile,
  .step3boxMobile .step4boxMobile {
    width: 45vw;
    height: auto;
  }
  .topLeftMobile {
    width: 23vw;
    height: 10vh;
  }
  .topRightMobile {
    width: 22vw;
    height: auto;
  }
  .stepparaMobile {
    width: 45vw;
    height: auto;
  }
  .stepparaMobile .fa-solid {
    font-size: 1rem;
  }
  .stepNameMobile {
    font-size: 1rem;
  }
  .stepparaMobile p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 786px) {
  .step1boxMobile,
  .step2boxMobile,
  .step3boxMobile .step4boxMobile {
    width: 45vw;
    height: auto;
  }
  .topLeftMobile {
    width: 23vw;
    height: 10vh;
  }
  .topRightMobile {
    width: 22vw;
    height: auto;
  }
  .stepparaMobile {
    width: 45vw;
    height: auto;
  }
  .stepparaMobile .fa-solid {
    font-size: 1rem;
  }
  .stepNameMobile {
    font-size: 1rem;
  }
  .stepparaMobile p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  .step1boxMobile,
  .step2boxMobile,
  .step3boxMobile,
  .step4boxMobile {
    width: 90vw;
    height: auto;
  }
  .topLeftMobile {
    width: 50vw;
    height: 10vh;
  }
  .topRightMobile {
    width: 50vw;
    height: auto;
  }
  .stepparaMobile {
    width: 90vw;
    height: auto;
  }
  .stepparaMobile .fa-solid {
    font-size: 1.3rem;
  }
  .stepNameMobile {
    font-size: 1.3rem;
  }
  .stepparaMobile p {
    font-size: 1rem;
  }
}
